*{
    font-size: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

a{
	font-size: 25px;
}

p{
	font-size: 18px;
}

.snake{
	position: relative;
	width: 100%;
}

.bgp{
	background-image: url('http://s.hswstatic.com/gif/lawn-darts-substitute-1-orig.jpg');
	height: 600px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.top{
	background: lightgrey;
	margin-bottom: 20px;
	padding-top: 20px;
	background: linear-gradient(lightgrey, white);

	.Header{
		display: inline-block;
		
		color: white;
		height: 150px;
		margin-bottom: 20px;
		padding-top: 20px;
	h1{
		display: inline-block;
	}
}
}

.item{
	height: 400px;
}

.toprightimg{
	height: 300px;
	margin-bottom: 10px;
}

.SMLogo{
	display: inline-block;
	padding-left: 320px;
}
.logo{
	height: 20px;
	width: 20px;
	margin-left: 5px;
}

.placeholder{
	background: black;
	height: 300px;
}

#map {
    height: 400px;
    width: 50%;
    margin-bottom: 60px;
   }



h1{
    text-align: center;
}

#userName{
    text-align: center;
}

.userImage{
    border-radius: 50%;
    margin: 0px auto;
    display: block;
}

h3{
    text-align: center;
    padding: 5px;
}

.container{
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 30px;
}


.container2{
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.companyImage{
    width: 200px;
    height: 200px;
    margin: 0px auto;
    display: block;
}


#one{
	color: blue;
	font-size: 100px;
}

#two{
	color: red;
	font-size: 60px;
}

#three{
	color: black;
	font-size: 40px;
}

#four{
	color: yellow;
	font-size: 70px;
}

#five{
	color: green;
	font-size: 80px;
}


.Header{
	text-align: center;

		img{

	height:85px;
	vertical-align: middle;
	margin-bottom: 75px;
	margin-left:80px;
	margin-right:80px;

}

}

.subscribe{

			#button1{
				float: left;
				font-size: 30px;
				height: 120px;
				width: 350px;
				margin: 0px auto;
				margin-bottom:15px; 
				margin-top: 15px;
				background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
				background-image: linear-gradient(top, #f4f1ee, #fff);
				border-radius: 50%;
				box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
				-webkit-transition: all .1s linear;
				transition: all .1s linear;
				display: inline;
			}

			#button2{
				float: right;
				font-size: 30px;
				height: 120px;
				width: 350px;
				margin: 0px auto;
				margin-bottom:15px; 
				margin-top: 15px;
				background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
				background-image: linear-gradient(top, #f4f1ee, #fff);
				border-radius: 50%;
				box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
				-webkit-transition: all .1s linear;
				transition: all .1s linear;
				display: inline;
			}

}


.right{
	button{
		background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 70px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 70px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		height: 80px;
		width: 140px;
		font-size: 20px;
	}
}

.footerleft{
	text-align: center;
}
.footermiddle{
	text-align: center;
}




